<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Air Quality Project</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h1>No location was found with that name</h1>
    <a href="#" th:href="@{/}"> Try Again </a>
</div>

<footer class="page-footer font-small dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/Diaj3"> João Dias</a>
    </div>
    <!-- Copyright -->

</footer>
</body>
</html>